<div class="col pr-0" data-ng-include="'/hackathon-an/leonore-front/app/App/Search/tpl/Search-results-header.html'"></div>
<div class="col pr-0" data-ng-if="results.length == 0">
    <div class="alert alert-warning">
        <h3>Aucun résultat retourné</h3>
        <p>Aucun résultat ne correspond à votre recherche. Modifiez les paramètres de recherche pour accéder à de nouveaux résultats.</p>
    </div>
</div>
<div data-ng-if="search.result.display == 'tile'" data-ng-include="'/hackathon-an/leonore-front/app/App/Search/tpl/Search-results-content-tile.html'"></div>
<div data-ng-if="search.result.display == 'list'" data-ng-include="'/hackathon-an/leonore-front/app/App/Search/tpl/Search-results-content-list.html'"></div>
