<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>
<main class="container" role="main">
    <div class="row">
        <div class="col-12">
            <h1 class="page-heading mb-0"><i class="fas fa-list" aria-hidden="true"></i> Liste des légionnaires</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-12 p-4">
            <ul id="listResults" class="list list-unstyled">
                <li data-ng-repeat="entity in entities|limitTo:itemsPerPage:(currentPage*itemsPerPage-itemsPerPage)">
                    <a ui-sref="transcript.app.entity({id1: entity.id1, id2: entity.id2, id3: entity.id3})">{{entity.prenom}} {{entity.nom}} <span ng-if="entity.birthdate !== ''">({{entity.birthdate}})</span></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-12 col-12">
            <nav><ul uib-pagination items-per-page="itemsPerPage" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination pagination-sm justify-content-center" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul></nav>
        </div>
    </div>
</main>