<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>
<main class="container" role="main">
    <div class="row">
        <div class="col-12">
            <h1 class="page-heading mb-0"><i class="fas fa-user" aria-hidden="true"></i> {{ entity.prenom }} {{ entity.nom }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-6 p-4" data-ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/entity-info.html'"></div>

        <div class="col-lg-6 col-6 p-4">
            <div ng-if="actions.crop == true">
                <crop src='{{imageURL}}' selected='selected(cords)' />
            </div>
            <img ng-if="actions.crop == false" src="{{imageURL}}" class="img-fluid" />
        </div>
    </div>
</main>