<div class="container">
    <div class="row align-items-center">
        <!--<div class="col-lg-2 col-6 p-0">
            <nav class="nav flex-column bg-danger">
                <a class="nav-link" ui-sref="transcript.app.blog">Actualités</a>
                <a class="nav-link" ui-sref="transcript.app.content({id: preferences.discoverHomeContent})" ng-if="preferences.discoverHomeContent !== null">Découvrir</a>
                <a class="nav-link" ui-sref="transcript.app.search">Transcrire</a>
                <a class="nav-link" ui-sref="transcript.app.taxonomy.home">Documenter</a>
                <a class="nav-link" ui-sref="transcript.app.content({id: preferences.aboutContent})" ng-if="preferences.aboutContent !== null">À propos</a>
            </nav>
        </div>
        <div class="col-lg-2 col-6 p-0">
            <nav class="nav flex-column bg-secondary">
                <a class="nav-link" ng-if="preferences.enableContact == true" ui-sref="transcript.app.contact">Contact</a>
                <a class="nav-link" ng-if="preferences.legalNoticesContent != null" ui-sref="transcript.app.content({id: preferences.legalNoticesContent})">Mentions légales</a>
                <a class="nav-link" ng-if="preferences.creditsContent != null" ui-sref="transcript.app.content({id: preferences.creditsContent})">Crédits</a>
                <a class="nav-link" ng-if="preferences.charteContent != null" ui-sref="transcript.app.content({id: preferences.charteContent})">Charte d'utilisation</a>
                <div class="nav-link bg-white">
                    <a href="https://www.facebook.com/{{ preferences.facebookPageId }}" target="_blank"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/{{ preferences.twitterId }}" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                    <!--<a href="#" target="_blank"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>-->
                <!--</div>
            </nav>
        </div>
        <div class="col-lg-8 col-md-12 mb-2 mb-md-0" id="partenaires">
            <div class="row align-items-center">
                <a class="col-md col-3" href="http://www.culturecommunication.gouv.fr/" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/ministere-culture.jpg"/></a>
                <a class="col-md col-3" href="http://www.sciences-patrimoine.org/" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/fondation-sciences-patrimoine.png"/></a>
                <a class="col-md col-3" href="http://centenaire.org/fr" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/centenaire.jpg"/></a>
                <a class="col-md col-3" href="http://www.archives-nationales.culture.gouv.fr/" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/archives-nationales.png"/></a>
                <a class="col-md col-3" href="http://www.archives.yvelines.fr/" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/ad78.jpg"/></a>
                <a class="col-md col-3" href="https://www.u-cergy.fr/fr/index.html" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/cergy.png"/></a>
                <a class="col-md col-3" href="http://www.enc-sorbonne.fr/" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/enc.png"/></a>
                <a class="col-md col-3" href="http://univ-paris8.fr/" target="_blank"><img class="img-fluid" src="/hackathon-an/leonore-front/app/web/images/logos/paris-8.jpg"/></a>
            </div>
        </div>-->
    </div>
</div>