body{
	font-family: 'Fira Sans', Arial, sans-serif;
	background: #F6F6F6;
	font-size: 14px;
	line-height: 20px;
}

a{
	color: #005b6c;
	cursor: pointer!important;
}
/* Angular override */
p a, li a, h2 a, h3 a, td a{
	color: #005b6c!important;
}
p a:hover, li a:hover, h2 a:hover, h3 a:hover{
	color: #8Faebd!important;
}
a:hover{
	text-decoration: none;
	color: #8Faebd;
}
.bg-primary a:hover,
h2.bg-dark  a, h3.bg-dark a{
	color: white!important;
}




/* @group Header */
header{
	margin-bottom: 20px!important;
}


/* Visuel/Logo */
@media (min-width: 991px)
{
	header h1 a{
		text-indent: -10000px;
		position: absolute;
		float: left;
		display: block;
		top: -100px;
		height: 50px;
		margin-left: 19%;
		width: 78%;
	}
}

/* @group Header Navbar */
header #navbar ul.nav-justified, header #navbar  .nav-justified .nav-item{
	text-align: left!important;
}
header  ul > li > a,
header  ul > li .nav-link a{
	text-transform: uppercase;
	font-size: 0.825rem;
	font-weight: 500;
	color: #0d5367;
}
header .dropdown-menu.show{
	z-index: 10000!important;
}
header .dropdown-item{
	padding-left: 0.5rem;		
	font-size: 0.7rem;
	color: black!important;
}


@media (max-width: 991px)
{
	header .user-nav{
		display: none!important;
	}
	header nav{
		background: #e9ecef;
	}
}
@media (min-width: 992px)
{
	header  ul {
		width: 100%;
	}
	header  #navbar ul li {
		border-right: 1px solid #0d5367;
		background: white;
	}
	header  #navbar ul li:last-of-type {
		border-right: none!important;
	}
	header  ul > li > a,
	header  ul > li .nav-link a{
		text-align: center!important;
	}
	
	header .nav-item {
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  -webkit-box-flex: 1;
	  -ms-flex-positive: 1;
	  flex-grow: 1;
	  text-align: center;
	}
	header  #navbar > ul > li > a:hover,
	header #navbar > ul > li > a.active,
	.dropdown-item.active, .dropdown-item:active
	{
		color: #bb1026!important;
		background: inherit!important;
	}

	header #main-nav{
		padding: 0;
	}
	
	/* User Menu */
	header #user-menu,
	header .unlogged {
		width: 159px!important;
		max-width: 159px!important;
		background: #0d5367!important;
		margin: auto;
		text-align: center;
	}
	header #user-menu .nav-link,
	header .unlogged .nav-link{
		color: white!important;
	}

	header #user-menu .nav-link,
	header .unlogged .nav-link a{
		color: white!important;
	}
	header #user-menu a.nav-link:hover,
	header .unlogged a:hover{
		color:#8Faebd!important;
	}


	/* Bloc fond rouge User */
	.header-user{
		font-family: 'PT Sans', Arial, sans-serif;
		text-align: center;
		background: #bb1026;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.header-user i,
	.header-user img{
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		display: block;
	}
	.header-user a{
		color:#fff;
	}
	header #user-nav ul > li > a:hover,
	.header-user a:hover{
		color:#8Faebd!important;
	}
	
	
	.header{
		-moz-box-shadow: 1px 4px 8px 0px #cfcfcf;
		-webkit-box-shadow: 1px 4px 8px 0px #cfcfcf;
		-o-box-shadow: 1px 4px 8px 0px #cfcfcf;
		box-shadow: 1px 4px 8px 0px #cfcfcf;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=165, Strength=8);
	}
}
.header{
	background: url('img/bg-header.svg') no-repeat left top;
}
.header-dev{
	background: url('img/bg-header-dev.png') no-repeat left top;
}


@media (min-width: 992px) and  (max-width: 1199px)
{
	.header{
		background-size:  810px 85px;
	}

	.header-user{
		height: 85px;
	}
	header #user-menu .nav-link,
	header .unlogged .nav-link a{
		font-size: 0.625rem!important;
		padding-left: 0px;
		padding-right: 0px!important;
	}
}

@media (min-width : 1200px)
{
	.header{
		background-size: 950px 100px;
	}
	header .dropdown-item{
		padding-left: 0.675rem;		
		font-size: 0.85rem!important;
	}

	.header-user{
		height: 100px;
	}
	header #user-menu,
	header .unlogged {
		width: 189px!important;
		max-width: 189px!important;
		background: #0d5367!important;
	}

}
/* @end */

/* @end */
.container{

}

/* Breadcrumbs */
.breadcrumb{
	background: none;
	font-size: 0.8rem;
	padding-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.breadcrumb a:hover{
	color: #8Faebd!important;
}
.breadcrumb li  {
	display: inline;
}
.breadcrumb li + li::before {
	content: "\f0da";
	font-family: FontAwesome;
	color: #bb1026;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.breadcrumb li.active {
	color: #868e96;
}

main{
	background: #ededed;
	min-height: 300px;
}
main.container > .row > .col-sm-8{
	padding-bottom: 2rem;
}



/* @group Alert */
.alert{
	border-radius: 0px;
	border: none!important;
	text-align: center;
	color: black;
}
[class*="alert-"]{
	color: black;
}

[class*="alert-"] a:hover{
	color: black!important;
}
.alert p:last-of-type,
.jumbotron p:last-of-type{
	margin-bottom: 0!important;
}
.fade {
	display: none;
}

.fade.show {
	display: block;
}

.alert button{
	padding-left: 20px;
}
.alert button:hover{
	cursor: pointer;
}

.alert-primary{
	background: rgba(164, 188, 202, 0.38)!important;
}
.alert-primary .alert-link
{
	color: #0d5367;
}
.alert-primary hr
{
	border-top-color: #0d5367;
}
.alert-secondary{
	background: rgba(29, 144, 205, 0.16)!important;
}
.alert-secondary hr
{
	border-top-color: #8Faebd;
}
.alert-secondary .alert-link{
	color: #1d90cd;
}
.alert-success{
	background: rgba(26, 149, 67, 0.23)!important;
}
.alert-success .alert-link{
	color: #1b9543;
}
.alert-success hr
{
	border-top-color: rgba(26, 149, 67, 0.49);
}
.alert-danger{
	background: #ebaeae!important;
}
.alert-danger .alert-link{
	color: #bb1026;
}
.alert-danger hr
{
	border-top-color: rgba(187, 16, 38, 0.35);
}
.alert-warning{
	/*	background: rgba(231, 98, 28, 0.36)!important;*/
	background: #E8C38F!important;
}
.alert-warning .alert-link{
	color: #e8631c;
}
.alert-warning hr
{
	border-top-color: rgba(231, 98, 28, 0.35);
}
.alert-info{
	background: #8Faebd!important;
}
.alert-info .alert-link{
	color: #fff;
}
.alert-info hr
{
	border-top-color: #dadada;
}
.alert-light{
	background: #fff;
}
.alert-light .alert-link{
	color: #9d9d9c;
}
.alert-light hr
{
	border-top-color: #dadada;
}
.alert-dark{
	background: #dadada;
}
.alert-dark .alert-link{
	color: #0d5367;
}
.alert-dark hr
{
	border-top-color: #9d9d9c;
}
/* @end */

/* @group Badge */
.badge{
	font-size: 85%;
	font-weight: 500;
	padding-top: 0.2em;
}
.badge-pill {
	color: white!important;
	padding-top: 0.3em!important;
}
.badge-pill:hover {
	background: #0d5367!important;
}
.badge-primary, .btn-primary,
.btn-primary:active{
	background: #8Faebd;
}
.badge-secondary, .btn-secondary{
	background: #0d5367;
}
.badge-success, .btn-success{
	background: #1b9543;
}
.badge-danger, .btn-danger{
	background: #bb1026;
}
.badge-warning, .btn-warning{
	background: #e8631c;
	color: white;
}
.badge-info, .btn-info{
	background: #1d90cd;
}
.badge-light, .btn-light{
	background: #ededed;
	color: #9d9d9c
}
.badge-dark, .btn-dark{
	background: #4d4444;
}

/* badge-status */
.badge-status{
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border: 0px solid #000000;
	text-transform: uppercase;
	font-weight: normal!important;
	font-size: 0.7rem!important;
	line-height: 1;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}
/* @end Badge */

/* @group Card */
body#home .card.bg-white{
	margin-right: 1.25rem;
}
.card{
	border: none;
	margin-bottom: 2rem;
	background: inherit;
	border-radius: 0px;
}
.card-header{
	border-bottom: none;
	border-radius: 0px!important;
	display: table;
	font-size: 0.8rem;
	margin-bottom: 0.5rem!important;
	padding: 3px 6px 3px 6px ;
	line-height: 1rem;
	font-weight: normal!important;
}
.card-header.d-block{
	display: block!important;
}
.card.bg-none .card-body{
	padding-left: 0px;
}

.card-header.bg-light i
{
	color: white;
}
.card p:last-of-type{
	margin-bottom: 0.85rem;
}
/* Carte avec titre centré */
.card.text-center .card-header{
	display: block!important;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: bold;
}
.card-header.bg-secondary,
.card-header.bg-danger,
.card-header.bg-dark,
.card.bg-light .card-header.bg-light{
	color: white;
}
.card-footer{
	border: 0!important;
	background: none;
}
.card-title{
	font-size: 1rem;
	font-weight: 500;
}
p + .card-link{
	margin-top: 0px!important;
}
.card-img-left{
	float: left;
	width: 50%;
	padding-right: 25px;
}
.card .nav-tabs .nav-item
{
	background: #ededed;
	color: #fff!important;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border: 0px solid #000000;
}
.card .nav-tabs .nav-item a
{
	color: #9d9d9c;
}
.card .nav-tabs .nav-item .disabled
{
	color: #c6c6c6;
}
.card .nav-tabs .nav-item .active
{
	color: #0d5367;
}
/* @end */

/* @group Buttons */
button{
	cursor: pointer;
}
.btn{
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	border: 1px solid #c6c6c6;
	/*	color: white;*/
	font-size: 0.8rem;
	line-height:1rem;
	border: none;
}
.fa-lg
{
	font-size: 1.2em!important;
	line-height: 0.7em!important;
	vertical-align: -10%!important;
}
.btn.focus, .btn:focus
{
	box-shadow: none!important;
}
.btn.active{
	background: #0d5367!important;
}
.btn:disabled, .disabled{
	cursor: not-allowed;
	pointer-events: none;
}
.btn-primary.disabled,
.btn-primary:disabled{
	background: #8Faebd;
	opacity: 0.3;
}
.btn:focus{
	background: #0d5367!important;
}

.btn-sm{
	display: inline-block;
	color: white!important;
	font-weight: 500;
	padding: 0.2rem  0.5rem 0.2rem 0.5rem;
	font-size: 0.75rem!important;
	line-height: 0.85rem;
	border: none!important;
	border-radius: 0;
}
.btn + .btn, .badge + .badge {
	margin-left: 10px;
}
.btn-light,
.btn-outline-light{
	background-color: #F6F6F6;
	border: 1px solid #c6c6c6!important;
	color: #0d5367!important;
}
.btn-primary:hover,
.btn-outline-primary:hover,
.btn-primary:focus{
	background: #bb1026;
	color: #fff;
}
.bg-danger .btn-primary:hover,
.bg-danger .btn-primary:focus,
.bg-danger .btn-outline-primary:hover{
	background: black;
	color: #fff;
}
.btn-outline-secondary:hover{
	background: #a4dbF7;
	color: #1d90cd;
}
.btn-success:hover,
.btn-success:focus,
.btn-outline-success:hover{
	background: #c6d887;
	color: #1b9543;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-outline-danger:hover{
	background: #ebaeae;
	color: #bb1026;
}
.btn-warning:hover,
.btn-outline-warning:hover{
	background: #e8c38F;
	color: #e8631c;
}
.btn-info:hover,
.btn-info:focus,
.btn-outline-info:hover{
	background: #8Faebd;
}
.btn-light:hover,
.btn-light:focus,
.btn-outline-light:hover{
	background: #0d5367;
	color: white!important;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-outline-dark:hover{
	background: #9d9d9c;
}
.btn-link{
	color: #0d5367;
}
.nav-pills .btn-primary:hover,
.nav-pills .nav-link:hover{
	color: white!important;
}
/* @end */

.tooltip {
  font-size: 0.75rem!important;
  line-height: 1.2rem!important;
}

/* @group Dropdown menu */
.dropdown-menu
{
	background: #c6c6c6;
	border-radius: 0px;
	border: none;
	min-width: 6rem;
	font-size: 0.8rem;
}
.nav-item .dropdown-menu li{
	font-size: 0.8rem;
}
@media (min-width: 992px)
{
	.dropdown-menu
	{
		width: 100%;
		margin-top: -0.02rem;
	}
}
.dropdown-menu a:hover
{
	background: #bb1026;
	color: white!important;
}
.nav-item .dropdown-menu
{
	width: 100%;
}


/* Dropsown Submenu */

.dropdown-submenu {
	position: relative;
	padding: 0!important;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
#transcript-toolbar .dropdown-submenu > a{
	background: #ededed;
	padding: 2px 25px 2px 5px;
	float: left;
	width: 100%;
	color: black!important;
	position: relative;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color:black;
	margin-right: -20px;
	margin-top: 2px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
/* @end */


/* @group Typography */
.page-heading{
	color: white;
	background: #44708e;
	font-weight: normal;
	display: inline-block!important;
	font-size: 0.85rem;
	padding: 3px 6px 3px 6px ;
	line-height: 1rem;
	margin-bottom: 1rem;
}
@media (min-width: 991px)
{
	main h1{
		margin-bottom: 2rem;
	}
	.page-heading{
		margin-bottom: 3rem;
	}
	/*	h1 + .badge{
            margin-top: -3rem!important;
        }*/
}
h2, h3, h4, h5, h6{
	font-weight: 500;
}
h1{
	font-size: 1.5rem;
}
h2{
	font-size: 1.1rem;
}
h3{
	font-size: 0.85rem;
}
h3.bg-light{
	color: white;
	font-weight: normal!important;
	display: inline-block;
	padding: 3px 6px 3px 6px;
	margin-bottom: .5rem
}
h4{
	font-size: 0.75rem;
}
h5{
	font-size: 0.65rem;
}
p.lead, .big, big{
	font-weight: 500;
	line-height: 1.2rem;
	font-size: 105%;
}
label.big:not(:first-of-type) {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

dt, dd{
	margin-bottom: 0!important;
	padding-top: 2px;
	padding-bottom: 2px;
}
dt:nth-of-type(even), dd:nth-of-type(even) {
	background: white;
}
.small, small
{
	font-size: 85%;
	line-height: 0.9rem!important;
}

.border-top-1{
	border-top: 1px solid #dadada;
	margin-top: 1rem;
	padding-top: 1rem;
}
.border-bottom-1{
	border-bottom: 1px solid #dadada;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}
/* @end */

/* Modal */
.modal-content  {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* @group Table */
.table-bordered thead{
	background: #dadada;
}
.table-bordered tr th{
	font-weight: normal;
}
.table-bordered {
	font-size: 0.8rem
}
.table-bordered td, .table-bordered th {
	border: 1px solid #fff;
}
.table-bordered tr:first-child th {
	border-top: 1px solid #C6C6C6;
}
.table-bordered tr th:first-child,
.table-bordered tr td:first-child {
	border-left: 1px solid #C6C6C6;
}
.table-bordered tr:last-child td,
.table-bordered tr:last-child th {
	border-bottom: 1px solid #C6C6C6;
}
.table-bordered tr td:last-child,
.table-bordered tr th:last-child{
	border-right: 1px solid #C6C6C6;
}


.table-hover tbody tr:hover {
	background: #BB1026;
	color: white;
}
.table-hover tbody tr:hover a{
	color: white!important;
}

/* @end */

/* @group Homepage */
header + main{
	margin-top: 60px;
}
#search form{
	margin-top: 1.25rem;
}
@media (min-width: 992px)
{
	#search .card-header{
		margin-left: -1rem;
	}
}

#search .row{
	background: white;
}
#search #search-info{
	padding-top: 30px;
}
#search #search-results{
	padding-bottom: 20px;
	margin-bottom: 45px;
}
#search > .col-md-4 { height: 4400px; }
#search-results {
	font-size: 0.75rem;
}
#search-results .row {
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
/* Troncation du nom du testateur */
#search-results .row .col-5{
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


#search-results .row {
	line-height: 24px;
	height: 24px;
	padding-top: 0;
	padding-bottom: 0;
}
#search-results .badge-status {
	position: relative;
	text-align: left;
	color: white;
	margin-bottom: 0.5rem;
	font-size: 0.75rem!important;
	display: table!important;
}


@media (min-width:576px)
{
	/* À faire */
	#search-results .badge-danger{
		margin-left: 5%;
	}
	/* En cours */
	#search-results .badge-warning{
		margin-left: 25%;
	}
	/* En validation */
	#search-results .badge-info{
		margin-left: 50%;
	}
	/* Validé */
	#search-results .badge-success{
		margin-left: 80%;
	}
}

#search-results .row:nth-child(even) {
	background: #dadada;
}
#search-results a{
	font-weight: bold;
}
/* @end Homepage*/



/* @group Search page - "Rechercher un testament" (menu Transcrire)*/
/* Colonne de gauche */
#searchInterface label[class*="text"] {
	text-transform: uppercase;
	font-size: 0.75rem!important;
}
/* Colonne de droite */
#searchInterface #EntitiesList {
	background: #F6F6F6!important;
}
#searchInterface #EntitiesList nav {
	margin-left: -15px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.nbResults{
	font-size: 0.75rem!important;
}
/* Boutons Grille/Liste */
#searchInterface #EntitiesList nav .nav-link{
	background: #8Faebd;
	color: white!important;
	padding: 0.25rem 0.25rem 0.2rem 0.25rem!important;
	border: none!important;
}
#searchInterface #EntitiesList nav .nav-link.active,
#searchInterface #EntitiesList nav .nav-link:hover{
	background: #0d5367!important;
}

#searchInterface #EntitiesList ul{
	background: #F6F6F6;
	font-size: 0.8rem;
	line-height: 1.1rem;
	padding-left: 0px;
}
@media (min-width: 992px)
{
	#searchInterface #EntitiesList nav {
		margin-top: 0px!important;
		padding-right: 0!important;
	}
	#searchInterface #EntitiesList ul.list{
		padding-left: 30px;
		padding-right: 15px;
	}

	#searchInterface #EntitiesList .list .row  > [class*="col-"]{
		padding-left: 0px!important;
	}
}

#searchInterface #EntitiesList .list .row  > [class*="col-"]{
	padding-left: 15px;
}

/* Nom du testateur */
.nomTestataire{
	font-weight: 500;
}
a.nomTestataire{
	color: #005b6c!important;
}
a.nomTestataire:hover{
	color: #8Faebd!important;
}


#searchInterface ul#listResults .row a:hover{
	color: #8Faebd!important;
}
/* Vignette */
#searchInterface ul img{
	border: 1px solid #0d5367;
}
#searchInterface ul img:hover{
	border: 1px solid #8Faebd;
}
/* Nombre de page*/
#searchInterface .col-md-12 .badge-secondary{
	font-size: 100%;
	font-weight: normal;
	border-radius: 0px;
	/*width: 20px;*/
}

/* Affichage mode Liste */
#searchInterface ul.list li{
	border-top: 1px solid #c6c6c6;
}
#searchInterface ul li:hover {
	background: #ededed!important;
}
/* Vignette mode liste */
#searchInterface ul.list img,
#searchInterface .badge-status{
	border: 2px solid inherit;
	-moz-box-shadow: 3px 3px 5px 0px #cfcfcf;
	-webkit-box-shadow: 3px 3px 5px 0px #cfcfcf;
	-o-box-shadow: 3px 3px 5px 0px #cfcfcf;
	box-shadow: 3px 3px 5px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=5);
}
#searchInterface ul.list .nomTestataire{
	display: inline-block;
}
/* Séparateur trait vertical rouge */
#searchInterface ul.list .col-9 span.text-danger
{
	padding-left: 3px;
	padding-right: 3px;
}

/* État de la transcription - Badge Pill */
#searchInterface .badge-status{
	display: table!important;
	margin: auto;
	margin-bottom: 0.5rem;
}

/* Affichage mode Grille */
ul.grid {
	list-style: none;
	margin-left: 0px;
}
ul.grid li{
	margin-bottom: 10px;
	padding-bottom: 10px;
}
ul.grid li img{
	margin: auto;
}
ul.grid .badge-status{
	position: absolute;
	top: 0px;
}
ul.grid li .badge-secondary {
	border-radius: 0px;
}
ul.grid a{
	display: block;
}
.caption{
	margin-top: 10px;
}
.caption a{
	color:#016e82!important;
}
.caption strong{
	font-weight: 500!important;
}
/* Vignette */
.img-thumbnail {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0.75rem;
}
.img-thumbnail:hover {
	background: #dddddd!important;
}
.img-thumbnail  img{
	border: 1px solid #0d5367;
	-moz-box-shadow: 3px 3px 5px 0px #cfcfcf;
	-webkit-box-shadow: 3px 3px 5px 0px #cfcfcf;
	-o-box-shadow: 3px 3px 5px 0px #cfcfcf;
	box-shadow: 3px 3px 5px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=5);
}
.img-150px {
	max-height: 150px;
	max-width: 150px;
}
.img-20px {
	max-height: 20px;
	max-width: 20px;
}
/* @end */



/* @group Transcription */

/* Largeur des colonnes en mode plein écran */
@media (min-width: 1200px)
{
	#transcriptContainerFullScreen:fullscreen .viewer{
		min-width: 50%!important;
		width: 50%!important;
	}
	#transcriptContainerFullScreen:-webkit-full-screen .viewer{
		min-width: 50%!important;
		width: 50%!important;
	}
	#transcriptContainerFullScreen:-moz-full-screen .viewer{
		min-width: 50%!important;
		width: 50%!important;
	}
	#transcriptContainerFullScreen:-ms-fullscreen  .viewer{
		min-width: 50%!important;
		width: 50%!important;
	}
}
#transcriptContainerFullScreen:fullscreen  #transcript-edit-editor-ace-area{
 	height:80vh!important; 
}
#transcriptContainerFullScreen:-webkit-full-screen #transcript-edit-editor-ace-area{
 	height:80vh!important; 
}
  #transcriptContainerFullScreen:-moz-full-screen  #transcript-edit-editor-ace-area{
 	height:80vh!important; 
}
#transcriptContainerFullScreen:-ms-fullscreen  #transcript-edit-editor-ace-area{
 	height:80vh!important; 
}



/* @group Boutons/Icônes transcription */
/* Boutons Plein écran/Fermer plein écran/Biblio */
#transcriptContainer .other-tools .btn{
	color: #0d5367!important;
	margin-bottom: 15px;
}
#transcriptContainer .other-tools .btn:hover{
	color: #8Faebd!important;
}

#transcript-content-heading .btn,
#transcript-interaction-heading .btn{
	line-height: 1.32rem!important;
}
#transcript-toolbar .btn{
	line-height: 22px!important;
	height: 22px;
}

.card.bg-white .float-right .btn{
	line-height: 0.9rem!important;
}

#transcript-toolbar .btn,
#transcript-content-heading .btn,
#transcript-interaction-heading .btn{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	font-weight: normal;
	border-radius: 0;
	font-size: 0.675rem!important;
}


/* Ajout d'un trait vertical entre les boutons */
.other-tools .btn,
#transcript-toolbar .btn,
#transcript-content-heading .btn,
#transcript-interaction-heading .btn{
	border-left: 1px solid!important;
	border-right: 1px solid!important;
}
.other-tools .btn:first-child,
#transcript-toolbar .btn:first-child,
#transcript-content-heading .btn:first-child,
#transcript-interaction-heading .btn:first-child{
	border-left: none!important;
}
.other-tools .btn:last-child,
#transcript-content-heading .btn:last-child,
#transcript-interaction-heading .btn:last-child{
	border-right: none!important;
}
#transcript-toolbar .btn + .dropdown-toggle{
	border-left: none!important;
	padding-left: 4px!important;
	padding-right: 4px!important;
}



/*#transcript-toolbar .level-1  .btn {
	border-color:  #016e82!important;
}*/
.other-tools .btn,
#transcript-toolbar .level-2 .btn ,
#transcript-toolbar .level-3  btn ,
#transcript-content-heading .btn,
#transcript-interaction-heading .btn {
	border-color:  #0d5367;
}
#transcript-toolbar .fa-circle{
	padding-left: 0.2rem;
}

/* Boutons - En-tête des colonnes */
#transcript-content-heading .btn,
#transcript-interaction-heading .btn{
	color: #0d5367!important;
	background: #ededed;
}
#transcript-interaction-heading .btn.bg-danger{
	background: #bb1026!important;
	color: white;
}
#transcript-workarea .disabled,
#transcript-workarea button[disabled]{
	opacity: 0.5;
}

/* En-tête Colonne Content - Undo buttons */
#transcript-content-heading .btn:hover {
	background: #fff;
}

/* En-tête Colonne Interaction */
#transcript-interaction-heading .btn:hover {
	background: #bb1026;
	color: #fff!important;
	border-color: #0d5367!important;
}
#transcript-interaction-heading .btn:focus,
#transcript-interaction-heading .btn.active {
	background: #0d5367;
	color: #fff!important;
}
#transcript-interaction-heading .btn-danger:focus,
#transcript-interaction-heading .btn-danger.active {
	background: #bb1026!important;
}
/* @end Fin Boutons/icônes Transcription*/

/*Colonnes*/
/*En-tête des colonnes Trabncription et Training*/
#transcript-edit .card-header,
#transcript-edit .card,
#transcript-interaction .card-header,
#transcript-interaction .card,
#transcript-workarea .card-header,
#transcript-workarea .card{
	margin-bottom: 0px!important;
}
#transcript-edit .card-header,
#transcript-interaction .card-header,
#transcript-workarea .card-header{
	height: 22px;
}
/*Colonne Interactive (rendu, doc, version, info, etc.)*/
#transcript-interaction-main .card{
	overflow: auto;
	height: calc(100% - 20px);
	position: absolute;
	width: 100%;
}





/* @group Toolbar */
/* Breadcrumb Toolbar */
#transcriptContainerFullScreen .breadcrumb{
	margin-bottom: 0;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	min-height: 20px;
}
#transcriptContainerFullScreen:fullscreen #ariane-toolbar {
	color: yellow!important;
}
#transcriptContainerFullScreen:-webkit-full-screen #ariane-toolbar {
	color: yellow!important;
}
#transcriptContainerFullScreen:-moz-full-screen #ariane-toolbar {
	color: yellow!important;
}
#transcriptContainerFullScreen:-ms-fullscreen #ariane-toolbar {
	color: yellow!important;
}

#transcriptContainerFullScreen:fullscreen > .no-gutters {
	background: black!important;
}
#transcriptContainerFullScreen:-webkit-full-screen  > .no-gutters {
	background: black!important;
}
#transcriptContainerFullScreen:-moz-full-screen > .no-gutters  {
	background: black!important;
}
#transcriptContainerFullScreen:-ms-fullscreen  > .no-gutters  {
	background: black!important;
}

#transcriptContainerFullScreen:fullscreen #ariane-toolbar a{
	color: white!important;
}
#transcriptContainerFullScreen:-webkit-full-screen #ariane-toolbar a{
	color: white!important;
}
#transcriptContainerFullScreen:-moz-full-screen #ariane-toolbar a{
	color: white!important;
}
#transcriptContainerFullScreen:-ms-fullscreen #ariane-toolbar a{
	color: white!important;
}

#transcriptContainerFullScreen:fullscreen #full_screen_btn {
	color: yellow!important;
}
#transcriptContainerFullScreen:-webkit-full-screen #full_screen_btn {
	color: yellow!important;
}
#transcriptContainerFullScreen:-moz-full-screen #full_screen_btn {
	color: yellow!important;
}
#transcriptContainerFullScreen:-ms-fullscreen #full_screen_btn {
	color: yellow!important;
}



#ariane-toolbar .breadcrumb{
	font-size: 80%;
}
#div-interaction-help .breadcrumb{
	font-size: 95%;
}
/* Niveaux Toolbar - Tags/attributes*/
.level-1 .btn{
	background: #0d5367;
}
.level-2,
.level-2 .btn
{
	background: #91B2C0
}
.level-3, .level-3 .btn{
	background: #E8C38F;
}
.level-2 .btn,
.level-3 .btn{
	color: #0d5367!important;
}
/*.level-1{
	height: 22px;
}

.level-2, .level-3{
	height: 22px;
}*/
.level{
	width: 100%;
	float: left;
	height: 22px;
}

/* Toolbar hover/focus/active */
#transcript-toolbar .level-1 .btn:hover {
	background: #8Faebd;
	color: white!important;
}

#transcript-toolbar .level-1 .btn:focus,
#transcript-toolbar .level-1 .btn:active,
#transcript-toolbar .level-1 .btn.active,
#transcript-toolbar .level-1 .show > .dropdown-toggle {
	background: #0d5367!important;
	color: white!important;
}

#transcript-toolbar .level-2 .show .btn,
#transcript-toolbar .level-2 .btn:hover {
	background: #588096!important;
	color: white!important;
	border-color: #588096!important;
}
#transcript-toolbar .level-2 .btn:focus,
#transcript-toolbar .level-2 .btn:active,
#transcript-toolbar .level-2 .btn.active,
#transcript-toolbar .level-2 .show > .dropdown-toggle {
	background: #91B2C0!important;
	color: white!important;
}

#transcript-toolbar .level-3 .btn:hover {
	background: #0d5367!important;
	color: white!important;
}
#transcript-toolbar .level-3 .btn:hover i{
	border-left-color: #588096;
}
#transcript-toolbar .level-3 .btn:focus,
#transcript-toolbar .level-3 .btn:active,
#transcript-toolbar .level-3 .btn.active,
#transcript-toolbar .level-3 .show > .dropdown-toggle {
	background: #e8631c!important;
	color: white!important;
}
#transcript-toolbar .level-3 .btn:focus i{
	border-left-color: #e8631c!important;
	color: white;
}

/* Toolbar Dropdown menu */
#transcript-toolbar .dropdown-menu{
	background: #ededed!important;
	line-height: 0.9rem;
	padding-bottom: 0;
	padding-top: 0;
	font-size: 0.675rem;
	/*	float: left;*/
	width: auto;
	-moz-box-shadow: 2px 2px 5px 0px #cfcfcf;
	-webkit-box-shadow: 2px 2px 5px 0px #cfcfcf;
	-o-box-shadow: 2px 2px 5px 0px #cfcfcf;
	box-shadow: 2px 2px 5px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=5);
}


#transcript-toolbar .dropdown-toggle::after {
	font-size: 1.075rem;
	vertical-align: 0.05rem;
	color: white!important;
}
#transcript-toolbar .dropdown-menu li{
	background: #ededed;
	padding: 2px 5px 2px 5px;
	float: left;
	width: 100%;
	color: black!important;
	position: relative;
}
#transcript-toolbar .dropdown-item{
	background: #ededed!important;
	padding-left: 0.5rem;
	color: black!important;
}
#transcript-toolbar .dropdown-item a{
	color: black!important;
}
/*#transcript-toolbar .dropdown-menu li a{
	padding-top: 0.075rem;
	padding-right: 0.5rem;
	padding-bottom: 0.075rem;
	padding-left: 0rem;
}*/
#transcript-toolbar .dropdown-menu .dropdown-divider{
	border-bottom: 1px dotted #0d5367;
	height: 1px;
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
}
#transcript-toolbar .level-2 .show  .dropdown-toggle:focus{
	border-color: #0d5367!important;
}


#transcript-toolbar .dropdown-menu li.dropdown-divider:hover{
	background: inherit!important;
}
#transcript-toolbar .dropdown-menu .dropdown-item:hover,
#transcript-toolbar .dropdown-menu li:hover,
#transcript-toolbar .dropdown-menu li:hover > a,
#transcript-toolbar .dropdown-menu li a:hover{
	background: #8Faebd!important;
	color: white!important;
}
/*#transcript-toolbar .dropdown-menu li i{
	padding-right: 0.2rem;
}*/
#transcript-toolbar .fa-circle{
	font-size: 50%;
	vertical-align: 0.05rem;
	border-left: none!important;
	padding-left: 0rem!important;
}
#transcript-toolbar .fa-circle.active{
	color: #bb1026;
}
/* @end Fin Toolbar */


/* @group Colonne Image */
.viewer img {
	border: 1px solid black;
}
.viewer .btn:hover{
	color: #8Faebd!important;
}


/* @end Fin Colonne Image*/

/* @group Colonne Interaction  (rendu/documentation/versions...)*/
#div-interaction-live,
#div-interaction-help,
#div-interaction-doc,
#div-interaction-info,
#div-interaction-biblio,
#div-interaction-biblio-add,
#div-interaction-complexEntry,
#div-interaction-taxonomy,
#div-interaction-complexEntry
{
	font-size: 0.75rem!important;
	line-height: 1.1rem;
	height: 100%;
}
#div-interaction-version{
	height: 100%;
}

.damage{
	border-bottom: 1px dashed #333;
}

/* Documentation */
#DocModal{
	width: 370px!important;
	top: 0;
	left: 30%;
}
#DocModal .bg-white{
	max-height:400px!important;
	overflow-y:auto!important;
}
.modal-doc{
	background: white;
}
.modal-doc  .btn{
	padding-right:0.425rem!important;
	padding-left:0.425rem!important;
	border:none!important;
}
.modal-doc  .btn i{
	padding-left:0!important;
}
/* @end Fin Colonne Interaction*/

/* @end Fin Transcription*/


/* @group Forms */
.form-control{
	border-radius: 0rem;
}
.form-control:focus {
	border-color: #0d5367;
}
fieldset{
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	border-bottom: 2px solid #dadada;
}
fieldset:last-of-type{
	border-bottom:none;
}
fieldset  fieldset:last-of-type{
	padding-bottom: 0!important;
}
input:focus {
	color: #495057;
	background-color: #fff;
	border: 1px solid #8Faebd;
	outline: none;
}


.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
input.form-control-sm{
	font-size: 0.8rem!important;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem!important;
}
input[type=text]{
	width: 100%;
}
.custom-control
{
	padding-left: 1.3rem;
	min-height: 1.3rem;
}
/*checkbox*/
.custom-control-label::before {
	background-color: #fff;
}
.bg-body .custom-control-label::before {
	background-color: #c6c6c6;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0.2rem;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}


.custom-control-input ~ .custom-control-indicator {
	background-color: #c6c6c6!important;
}
.custom-control-input:checked ~ .custom-control-label::before {
	background-color: #0d5367!important;
}
.text-danger .custom-control-input:checked ~ .custom-control-label::before  {
	background-color: #bb1026!important;
}
.text-warning .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #e8631c!important;
}
.text-info .custom-control-input:checked ~ .custom-control-label::before  {
	background-color: #0d5367!important;
}
.text-success .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #1b9543!important;
}
.text-white {
	color: #FFF;
}
.form-control:-ms-input-placeholder {
	color: #8Faebd;
}
.form-control::placeholder {
	color: #8Faebd;
}
/* Overide angucomplete.css */
input[type=text]::placeholder {
	color: #8Faebd;
}

.form-check-input{
	margin-top: 1px;
}
.form-control-label{
	font-size: 0.8rem!important;
	margin-bottom: 0.2rem;
}
.custom-select {
	height: 1.6rem;
	padding: 0.2rem 1.75rem 0.2rem 0.5rem;
	color: #0d5367;
	font-size: 0.8rem;
}
.custom-select option{
	background: #fff;
}
.custom-select option:hover{
	background: #8Faebd!important;
}
.nav-item .custom-select,
.nav-item .dropdown {
	margin-left: 5px;
}
.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid
{
	border-color: #1b9543;
}
.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid
{
	border-color: #bb1026;
}
/* @end */

/* @group Nav */
.nav-pills .nav-item .nav-link{
	padding: 0.25rem 0.5rem 0.2rem 0.5rem!important;
	background-color: #F6F6F6;
	border: 1px solid #c6c6c6!important;
	color: #0d5367;
	font-size: 0.8rem;
	border: none;
	margin-bottom:  0.25rem;
}
main .nav-item + .nav-item {
	margin-left: 5px;
	margin-right: 0px;
}
.nav-item a[class*="bg-"] {
	color: white!important;
}
.nav-pills .nav-link.active,
.show > .nav-pills .nav-link{
	background: #0d5367;
}
.nav-pills .nav-link:hover
{
	background: #8faebd;
	color: white;
}
.nav-pills .btn-primary:hover
{
	background: #0d5367!important;
}
.nav-pills .nav-link:hover a
{
	color: white;
}
/* @end */

/* @group List Group Item */
.list-group-item
{
	background: inherit!important;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0.45rem;
	padding-bottom: 0.44rem;;
	border-left: none;
	border-right: none;
}
.list-group-item:first-child
{
	border-top: none;
}
.list-group-item .active,
.list-group-item.active a,
.list-group-item.active span
{
	font-weight: 500;
	color: #bb1026!important;
	border-color: #0d5367;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	background: inherit!important;
}


.list-group-item a
{
	font-weight: 500;
}
/* @end List Group Item*/

/* @group Colors */
/* Text et btn-ouline */
.text-primary, .btn-outline-primary
{
	color: #8Faebd!important;
}
.text-secondary, .btn-outline-secondary{
	color: #1d90cd!important;
}
.text-success, .btn-outline-success{
	color: #1b9543!important;
}
.text-danger, .btn-outline-danger{
	color: #bb1026!important;
}
.text-warning, .btn-outline-warning{
	color: #e8631c!important;
}
.text-info, .btn-outline-info{
	color: #0d5367!important;
}
.text-light, .btn-outline-light{
	color: #c6c6c6!important;
}
.text-dark, .btn-outline-dark{
	color: gray!important;
}
.bg-primary {
	background-color: #8faebd !important;
}
a.bg-primary:focus, a.bg-primary:hover {
	background-color: #6f97aa !important;
}

.bg-secondary {
	background-color: #0d5367 !important;
}
a.bg-secondary:focus, a.bg-secondary:hover {
	background-color: #072f3a !important;
}
.bg-success {
	background-color: #1b9543 !important;
}
a.bg-success:focus, a.bg-success:hover {
	background-color: #136a30 !important;
}

.bg-info {
	background-color: #1d90cd !important;
}
a.bg-info:focus, a.bg-info:hover {
	background-color: #1771a0 !important;
}
.bg-warning {
	background-color: #e8631c !important;
}
a.bg-warning:focus, a.bg-warning:hover {
	background-color: #be4f13 !important;
}
.bg-danger {
	background-color: #bb1026 !important;
}
a.bg-danger:focus, a.bg-danger:hover {
	background-color: #8c0c1c !important;
}
a.bg-light:focus, a.bg-light:hover {
	background-color: #d4d4d4 !important;
}
.bg-dark {
	background-color: #4d4444 !important;
}
a.bg-dark:focus, a.bg-dark:hover {
	background-color: #322c2c !important;
}
.bg-light{
	background: #44708e!important;
}
.bg-lighter{
	background: #dadada!important;
}
.bg-body{
	background: #F6F6F6;
}
.bg-container{
	background: #ededed;
}
.bg-white{
	background: #fff!important;
}
.bg-dark{
	background: #2f4858!important;
}
.border-primary {
	border-color: #8faebd !important;
}
.border-secondary {
	border-color: #0d5367 !important;
}
.border-success {
	border-color: #1b9543 !important;
}
.border-info {
	border-color: #1d90cd !important;
}
.border-warning {
	border-color: #e8631c !important;
}
.border-danger {
	border-color: #bb1026 !important;
}
.border-light {
	border-color: #c6c6c6 !important;
}
.border-dark {
	border-color: black !important;
}
.border-white {
	border-color: #fff !important;
}
/* @end */



/* @group Footer */
body > footer{
	margin-top: 25px;
	-moz-box-shadow: inset 0px 8px 5px 0px #cfcfcf;
	-webkit-box-shadow: inset 0px 8px 5px 0px #cfcfcf;
	-o-box-shadow: inset 0px 8px 5px 0px #cfcfcf;
	box-shadow: inset 0px 8px 5px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=5);
	background: white;
}
footer .container .col-lg-2, footer .container .col-lg-2 .bg-danger{
	height: 140px;
}
footer nav .nav-link{
	color: white!important;
	padding-top: 0.23rem!important;
	padding-bottom: 0.23rem!important;
	font-size: 0.8rem;
}
footer nav.bg-danger a.active,
footer nav.bg-secondary a.active{
	font-weight: 600;
}
footer nav.bg-danger a:hover{
	background: #0d5367;
	color: white;
}
footer nav.bg-secondary .nav-link:hover{
	background: #bb1026;
	color: white;
}
/* Icônes réseaux sociaux */
footer i{
	padding-left: 5px;
	padding-right: 5px;
}
footer i:hover{
	color: #bb1026;
}
footer .fa-facebook-official{
	color: #3A589E;
}
footer  .fa-twitter{
	color: #1dcaff;
}
footer .fa-google-plus{
	color: #DF4B37;
}
footer .fa-instagram{
	color: #4c5fd7;
}
/* Partenaires */
footer #partenaires {
	background: white;
	margin-top: 20px!important;
	padding-left: 25px!important;
	padding-right: 25px!important;
}
footer #partenaires .col-md-2{
	width: 120px;
	padding-bottom: 25px;
}
/* @end */

/* @group Code */
.highlight
{
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	margin-top: 1rem;
	margin-right: -15px;
	margin-bottom: 1rem;
	margin-left: -15px;
	background-color: #f7f7f9;
}
.highlight
{
	padding-top: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 1.5rem;
	margin-right: 0px;
	margin-left: 0px;
}
pre
{
	display: block;
	margin-bottom: 0.2rem;
}
code
{
	margin-top: 0!important;
	font-size: 100%;
	background-color: #fff!important;
	border-radius: 0.25rem;
	text-align: left;
	color: black;
}
code, kbd, pre, samp
{
	font-family: monospace,monospace!important;
	/*  display: none;*/
}

.highlight pre code
{
	font-size: inherit;
	color: #212529;
}
/* @end */

/* @group Entity (Page Testament) */
h1 + .badge{
	display: table!important;
	font-size: 0.85rem!important;
}
ul.listPages {
	padding-left: 0px;
}
ul.listPages li img{
	border: 2px solid #dadada;
	-moz-box-shadow: 3px 3px 5px 0px #cfcfcf;
	-webkit-box-shadow: 3px 3px 5px 0px #cfcfcf;
	-o-box-shadow: 3px 3px 5px 0px #cfcfcf;
	box-shadow: 3px 3px 5px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=5);
}
ul.listPages li:hover img{
	border-color: #bb1026;
}
ul.listPages li .badge-status{
	position: relative;
	top: 17px;
	font-size: 0.75rem!important;
	margin: auto;
	z-index: 1;
}
ul.listPages li a.locked span{
	text-transform: uppercase;
	font-size: 0.75rem;
	position: relative;
	top: -100px;
	width: 122px;
	border-radius: 0;
	background:  #e8631c;
	margin: auto;
	z-index: 1;
}
ul.listPages li a.locked {
	color: white!important;
}
ul.listPages li a.locked img{
	opacity: 0.3;
}
@media (min-width: 991px)
{
	ul.listPages li img{
		height: 180px;
		width: auto;
	}
	ul.listPages li a.locked span{
	}
}
/* @end */

/* Bloc Commentaires/ Fil de discussion */
/* Bouton Valider - bloc Commentaires */
.testament input[type=submit]{
	margin-top: 45px;
}
#comment-thread form{
	margin-bottom: 35px;
}


.comment-comment{
	border-bottom: 3px solid white;
	font-size: 0.8rem;
	padding-top: 10px;
}
.comment-comment:last-of-type{
	border-bottom: none;
}
#comment-thread .comment-comment-header .date{
	display: block;
}

@media (min-width: 1200px)
{
	#comment-thread .comment-comment-header .date{
		float: right;
		text-align: right;
	}
}
#comment-thread .comment-comment div{
	margin-bottom: 5px;
}


/* Icône User */
.red-color,
i[class="fa fa-angle-right"]
{
	color: #bb1026;
}

/* Nom de la page (bloc "Transcription") */
.card-header.align-right{
	position: absolute;
	top: 0px;
	right: 0px;
}
.card-header.bg-info {
	color: white;
}


/* @group Bloc demande de validation */
.transcript-submit {
	font-size: 0.8rem;
	width: 100%;
}
.transcript-submit .card{
	margin-bottom: 0px!important;

}
/* Étiquettes statuts transcritption */
.transcript-submit .card:first-of-type ul {
	padding-left: 0px!important;
	text-align: center;
	margin-top: 20px;
}
.transcript-submit .card:first-of-type ul li {
	margin: auto;
	margin-bottom: 15px!important;
	display: table;
	font-size: 1rem!important;
	-moz-box-shadow: 3px 3px 6px 0px #cfcfcf;
	-webkit-box-shadow: 3px 3px 6px 0px #cfcfcf;
	-o-box-shadow: 3px 3px 6px 0px #cfcfcf;
	box-shadow: 3px 3px 6px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=135, Strength=5);
}
.transcript-submit .card:first-of-type ul li.disabled{
	opacity: 0.3;
}




/* Alerte "Pour sauvegarder votre travail, cliquer sur soumettre" */
.transcript-submit .alert{
	padding-bottom: 0px!important;
	color: black;
}
@media (min-width: 991px) and  (max-width:1199px)
{
	.transcript-submit .alert{
		margin-top: 15%;
	}
}
@media (min-width: 1200px)
{
	.transcript-submit .alert{
		margin-top: 25%;
	}
}
@media (max-width: 767px)
{
	.transcript-submit .card-deck {
		display: block!important;
		width: 100%!important;
	}
	.transcript-submit .card-deck .card{
		display: block!important;
		width: 100%!important;
	}
}

/* Bouton Validation formulaire */
.transcript-submit .card-footer small{
	line-height: normal!important;
}
.transcript-submit .card-footer a[role=button]{
	width: 100%;
	text-align: left;
	display: table;
	font-variant: small-caps;
	font-size: 1rem;
	line-height: 1.85rem;
	margin: 0!important;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	border-radius: 5px!important;
	color: white;
}
.transcript-submit .card-footer a[role=button] i{
	position: absolute;
	right:0px;
	width: 30px;
	padding-left: 5px;
	line-height: 1.85rem;
	text-align: center;
	display: inline-block;
	color: white;
	border-radius: 5px;
}

.transcript-submit .card-footer a[role=button]:hover{
	background: #0d5367;
	color: white!important;
}

.transcript-submit .alert + .card-footer{
	padding: 0!important;
}
/* @end */

/* Bloc Historique */
.historique h3{
	margin-bottom: 0!important;
}
/* Icône oeil fermé à centrer */
.historique .table-bordered tr td:last-of-type{
	text-align: center!important;
}
.historique .table-bordered tr td.user i{
	padding-right: 5px;
	color: #bb1026;
}
.historique .table-bordered a{
	color: #016e82!important;
}
.historique .table-bordered tr:hover i{
	color: #fff!important;
}

/* @group Notice Les hommes/lieux/unités militaires */
#Tab .nav-link{
	border-radius: 0px;
	background: #c6c6c6;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	color: white;
}
@media (min-width: 768px) and (max-width: 991px)
{
	#Tab .nav-link{
		font-size: 80%;
	}
}
#Tab .nav-link + .nav-link{
	margin-left: 1px;
}
#Tab .nav-link:hover, #Tab .nav-link.active{
	background: #bb1026!important;
}
.tab-content ul {
	list-style-type: none;
	font-weight: 500;
	margin-top: 25px;
	margin-left: 0px;
	padding-left: 0px;
	font-size: 0.8rem;
}
.tab-content ul li{
	padding: 0.15rem 1.25rem 0.15rem 1.25rem;
	line-height: 0.9rem;
}
.tab-content ul li:hover{
	background: #ededed;
}
.tab-content ul li:hover a,
.tab-content a.active{
	color: #bb1026;
}
/* pagination */
ul.pagination li{
	padding-left: 0.75rem!important;
	padding-right: 0.75rem!important;
}
@media (min-width: 768px) 
{
	dt{
	text-align: right;
	font-weight: normal;
	
	}
}
/* @end */

/* @group Blog (page Actualités) */
main.blog{
	padding-bottom: 2rem;
}
/* Bloc liste d'actualités / */
.blog .row {
	background: inherit;
	border-bottom: 1px solid #fff;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	border-top: none;
	margin: 1rem;
}
.blog .row:last-of-type{
	border-bottom: none!important;
}
/* @end */

/* @group Content */
.content .order-md-2 h2{
	margin-top: 30px;
}
.content .text-justify img{
	margin-bottom: 1rem;
	margin-top: 1rem;
	max-width: 100%;
	clear: both;
	display: block;
}
@media (min-width: 1200px) {
	.content .text-justify img{
		margin-bottom: 0.75rem;
		margin-top: 0.75rem;
		margin-left: 1.5rem;
		max-width: 600px!important;
		height: auto;
		clear: none;
	}
}

.post-meta{
	font-size: 0.8rem;
	line-height: 0.9rem;
	margin-bottom: 25px;
}

/* Nuage de tags */
.tags  {
	margin-left: -15px;

}
.tags ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tags ul li{
	display: inline;
	color: white;
	background: #c6c6c6;
	font-weight: normal!important;
	display: inline-block;
	padding: 3px 6px 3px 6px;
	margin: 0px 5px 5px 0px;
}
.tags ul li a{
	color: white!important;
}
/*.tags ul li:hover{
	background: #bb1026;
}*/

/* @end Blog*/



/* Admin pages */
div#cke_admin-content-edit-content .cke_bottom
{
	/*	background: #e9ecef!important;
        border-top: none!important;*/
}



#loading-bar .bar {
	background: #8Faebd!important;
	height: 8px!important;
}

#loading-bar-spinner .spinner-icon {
	border-top-color:  #8Faebd!important;
	border-left-color: #8Faebd!important;
}


.leaflet-container .legend {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background: rgba(255,255,255, 0.9);
	line-height: 18px;
	border-radius: 5px;
	color: #555;
}

.leaflet-container .legend i {
	color: #777;
	width: 0;
	height: 0;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}


.text-sup {
	position: relative;
	bottom: 1px;
	font-size: .8em;
	line-height: .8em;
	vertical-align:super;
	text-decoration:none;
}
.text-underlined {
	text-decoration: underline;
}
.text-double-underlined {
	border-bottom: 3px double;
}