<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>
<main class="container" role="main">
    <div data-ng-include="'/hackathon-an/leonore-front/app/App/Entity/tpl/entity-header.html'"></div>
    <div data-ng-include="'/hackathon-an/leonore-front/app/App/Entity/tpl/entity-info.html'"></div>
    <div data-ng-include="'/hackathon-an/leonore-front/app/App/Entity/tpl/entity-resources.html'"></div>
</main>