<hr ng-if="actions.add == true" />
<strong><i class="fas fa-info-circle"></i> Contribution à Léonore</strong>
<ul>
    <li>Détourez l'élément correspondant sur l'image ci-contre <span ng-if="actions.detourer == true"><i class="fa fa-check-circle" style="color: #56C356;"></i></span></li>
    <li>Reportez-la dans le champ ci-dessous <span ng-if="actions.reporter == true"><i class="fa fa-check-circle" style="color: #56C356;"></i></span></li>
</ul>
<form class="form-inline">
    <input type="text" class="form-control form-control-sm mb-2 mr-sm-2" ng-model="actions.formValue" />
    <button type="button" class="btn btn-primary mb-2 disabled" id="validationForm" ng-click="valid.action()">Valider</button>
    <button type="button" class="btn btn-warning mb-2" ng-click="init()"><i class="fas fa-times"></i></button>
</form>