<div class="card bg-none">
    <h2 class="card-header bg-dark">Légionnaire</h2>
    <div class="card-body">
        <dl class="row pr-3 ml-1">
            <dt class="col-sm-4">Rang dans la légion :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.rangLegion === false && actions.check == false">
                    <span class="float-right"><a ng-click="addTo('rangLegion')"><i class="fas fa-plus"></i></a> <a ng-click="contributeTo('rangLegion')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.rangLegion }}
                </div>
                <div ng-if="(actions.addRangLegion === true || actions.rangLegion === true) && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
                <div ng-if="(actions.addRangLegion === true || actions.rangLegion === true) && actions.check == true" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-check.html'"></div>
            </dd>
            <dt class="col-sm-4">Date de nommination :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.rangLegion === false && actions.check == false">
                    <span class="float-right"><a ng-click="addTo('dateLegion')"><i class="fas fa-plus"></i></a> <a ng-click="contributeTo('dateLegion')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.dateLegion }}
                </div>
                <div ng-if="(actions.addDateLegion === true || actions.dateLegion === true) && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
                <div ng-if="(actions.addDateLegion === true || actions.dateLegion === true) && actions.check == true" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-check.html'"></div>
            </dd>

            <dt class="col-sm-4">Prénom :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.prenom === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('prenom')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.prenom }}
                </div>
                <div ng-if="actions.prenom === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4">Nom :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.nom === false && actions.check == false">
                    <span class="float-right"><a ng-click="addTo('nom')"><i class="fas fa-plus"></i></a> <a ng-click="contributeTo('nom')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.nom }}
                </div>
                <div ng-if="(actions.addNom === true || actions.nom === true) && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
                <div ng-if="(actions.addNom === true || actions.nom === true) && actions.check == true" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-check.html'"></div>
            </dd>

            <dt class="col-sm-4" ng-if="entity.nom2 != ''">Nom alternatif :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0" ng-if="entity.nom2 != ''">
                <div ng-if="actions.nom2 === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('nom2')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.nom2 }}
                </div>
                <div ng-if="actions.nom2 === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4" ng-if="entity.surnom != ''">Surnom :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0" ng-if="entity.surnom != ''">
                <div ng-if="actions.surnom === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('surnom')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.surnom }}
                </div>
                <div ng-if="actions.surnom === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4" ng-if="entity.sexe == 'F'">Nom de jeune fille :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0" ng-if="entity.sexe == 'F'">
                <div ng-if="actions.nomJeuneFille === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('nomJeuneFille')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.nomJeuneFille }}
                </div>
                <div ng-if="actions.nomJeuneFille === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4" ng-if="entity.sexe == 'F'">Nom de l'époux :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0" ng-if="entity.sexe == 'F'">
                <div ng-if="actions.nomMari === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('nomMari')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.nomMari }}
                </div>
                <div ng-if="actions.nomMari === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4" ng-if="entity.sexe == 'F'">Prénom de l'époux :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0" ng-if="entity.sexe == 'F'">
                <div ng-if="actions.prenomMari === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('prenomMari')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.prenomMari }}
                </div>
                <div ng-if="actions.prenomMari === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4">Occupation :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.profession === false && actions.check == false">
                    <span class="float-right"><a ng-click="addTo('profession')"><i class="fas fa-plus"></i></a> <a ng-click="contributeTo('profession')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.profession }} <span ng-if="entity.profession == null" class="text-warning">Cette information nous serait utile ! <br /> Aidez-nous à l'indexer <i class="fas fa-thumbs-up"></i></span>
                </div>
                <div ng-if="(actions.addProfession === true || actions.profession === true) && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
                <div ng-if="(actions.addProfession === true || actions.profession === true) && actions.check == true" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-check.html'"></div>
            </dd>

            <dt class="col-sm-4">Domicile :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.domicile === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('domicile')"><i class="fas fa-edit"></i></a> </span>
                    {{ entity.domicile }}
                </div>
                <div ng-if="actions.domicile === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
                <div ng-if="actions.domicile === true && actions.check == true" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-check.html'"></div>
            </dd>

            <dt class="col-sm-4">Sexe :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.sexe === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('sexe')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.sexe }}
                </div>
                <div ng-if="actions.sexe === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4">Situation familiale :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.situationFamiliale === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('situationFamiliale')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.situationFamiliale }}
                </div>
                <div ng-if="actions.situationFamiliale === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4">Date de naissance :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.birthdate === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('birthdate')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.birthdate }}
                </div>
                <div ng-if="actions.birthdate === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4" ng-if="entity.dateRev != ''">Date de naissance selon le calendrier révolutionnaire :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0" ng-if="entity.dateRev != ''">
                <div ng-if="actions.dateRev === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('dateRev')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.dateRev }}
                </div>
                <div ng-if="actions.dateRev === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4">Lieu de naissance :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.birthplace === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('birthplace')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.birthplace }}
                </div>
                <div ng-if="actions.birthplace === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4">Date de décès :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.deathdate === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('deathdate')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.deathdate }}
                </div>
                <div ng-if="actions.deathdate === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>

            <dt class="col-sm-4">Lieu de décès :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">
                <div ng-if="actions.deathplace === false && actions.check == false">
                    <span class="float-right"><a ng-click="contributeTo('deathplace')"><i class="fas fa-edit"></i></a></span>
                    {{ entity.deathplace }}
                </div>
                <div ng-if="actions.deathplace === true && actions.check == false" ng-include="'/hackathon-an/leonore-front/app/App/Contribute/tpl/contribute-form.html'"></div>
            </dd>
        </dl>
    </div>
</div>
<div class="card bg-none">
    <h2 class="card-header bg-dark">Dossier</h2>
    <div class="card-body">
        <dl class="row pr-3 ml-1">
            <dt class="col-sm-4">Cote :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.cote }}</dd>

            <dt class="col-sm-4">Dossier :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.dossier }}</dd>

            <dt class="col-sm-4">Référence Mistral :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.refMistral }}</dd>

            <dt class="col-sm-4">Code interne :</dt>
            <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.code }}</dd>
        </dl>
    </div>
</div>