<div class="row align-items-end" style="background-color:#44708e;">
    <div class="col-8 p-3">
        <img src="/hackathon-an/leonore-front/app/web/images/logo-archives-nationales.png" />
    </div>
    <div class="col-4 p-3 d-inline text-right">
        <span class="header-title">Base Léonore</span>
        <img src="/hackathon-an/leonore-front/app/web/images/logo.png" style="height: 90px;" />
    </div>
    <!--<div class="col-2 user-nav p-0">
        <div class="header-user">
            <a ng-if="user != null" ui-sref="transcript.app.user.profile({id: user.id})">
                <i ng-if="user.picture == null || user.picture == ''" class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                <img ng-if="user.picture != null && user.picture != ''" class="img-fluid rounded-circle" src="{{ user.picture | imageRender }}" />
                {{ user.name }}
            </a>
            <div ng-if="user == null">
                <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                Espace utilisateur
            </div>
        </div>
	</div>-->
</div>

<div class="row">
    <div class="col main-nav p-0">
        <nav role="navigation" id="main-nav" class="navbar navbar-expand-lg navbar-light">
            <h1><a  class="navbar-brand" ui-sref="transcript.app.home" ng-bind="preferences.projectTitle"></a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Afficher/Masquer le menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="https://www.hackathon-archives-nationales.org/" target="_blank">Hackathon Archives nationales</a></li>
                    <li class="nav-item"><a class="nav-link" ui-sref="transcript.app.about">À propos du projet</a></li>
                    <li class="nav-item"><a class="nav-link" ui-sref="transcript.app.list">Liste des légionnaires</a></li>
                    <li class="nav-item"><a class="nav-link" ui-sref="">Rechercher des légionnaires</a></li>

                <!--<li ng-if="user == null" class="unlogged">
                    <div class="nav-link"><a class="d-inline-block" ui-sref="transcript.app.security.register">s'inscrire</a> <span>|</span> <a  class="d-inline-block" ui-sref="transcript.app.security.login">se connecter</a></div>
                </li>
                <li ng-if="user != null" id="user-menu" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">tableau de bord <span class="badge badge-danger" ng-if="user._embedded.unreadMessages > 0">{{ user._embedded.unreadMessages }}</span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" ui-sref="transcript.app.user.profile({id: user.id})">Profil</a>
                        <a class="dropdown-item" ui-sref="transcript.app.user.private-message.list({id: user.id})">Messagerie privée <span class="badge badge-danger">{{ user._embedded.unreadMessages }}</span></a>
                        <a class="dropdown-item" ui-sref="transcript.app.training.content({order: '0'})" ng-if="user._embedded.preferences.tutorialStatus == 'todo' || user._embedded.preferences.tutorialStatus == 'done' || user._embedded.preferences.tutorialStatus == 'notInterested'">Tutoriel sur la transcription</a>
                        <a class="dropdown-item" ui-sref="transcript.app.training.content({order: user._embedded.preferences.tutorialProgress})" ng-if="user._embedded.preferences.tutorialStatus == 'inProgress'">Tutoriel sur la transcription</a>
                        <a class="dropdown-item" ui-sref="transcript.app.user.preferences({id: user.id})">Préférences</a>
                        <a class="dropdown-item" ui-sref="transcript.app.security.logout">Déconnexion</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://testaments-de-poilus.myjetbrains.com/" target="_blank">BugTracker</a>
                        <a class="dropdown-item" permission permission-only="'ROLE_ADMIN'" ui-sref="transcript.admin.home">Admin</a>
                    </div>
                </li>-->
            </ul>
        </nav>
    </div>
</div>