<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" data-ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>

<main class="container" role="main">
    <div id="searchInterface" class="row">
        <div class="col-lg-6" data-ng-include="'/hackathon-an/leonore-front/app/App/Search/tpl/Search-form.html'"></div>
        <div class="col-lg-6" id="EntitiesList" data-ng-include="'/hackathon-an/leonore-front/app/App/Search/tpl/Search-results.html'"></div>
    </div>
</main>