<div class="row">
    <div class="col-8">Légionnaire</div>
    <div class="col-4 text-sm-center">Date de naissance</div>
</div>
<div data-ng-repeat="entity in results | limitTo:limitToResults:0" class="row align-items-center">
    <div class="col-8"><a ui-sref="transcript.app.entity({ id1: entity.id1, id2: entity.id2, id3: entity.id3 })" >{{ entity.prenom }} {{ entity.nom }}</a></div>
    <div class="col-4">{{ entity.birthdate }}</div>
</div>