<form class="form-horizontal">
    <div class="form-group">
        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" ng-model="search.checks.nom">
            <label class="form-control-label">
                Valeurs absentes
            </label>
        </div>
        <label class="form-control-label">Nom du légionnaire</label>
        <angucomplete id="app-home-form-name"
                      placeholder=""
                      pause="100"
                      selectedobject="search.form.nom"
                      localdata="search.values.nom"
                      searchfields="name"
                      titlefield="name"
                      minlength="1"
                      inputclass="form-control form-control-sm"/>

    </div>
    <div class="form-group">
        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" ng-model="search.checks.birthplace">
            <label class="form-control-label">
                Valeurs absentes
            </label>
        </div>
        <label class="form-control-label">Lieu de naissance</label>
        <angucomplete id="app-home-form-birthplace"
                      placeholder=""
                      pause="100"
                      selectedobject="search.form.birthplace"
                      localdata="search.values.birthplace"
                      searchfields="name"
                      titlefield="name"
                      minlength="1"
                      inputclass="form-control form-control-sm"/>
    </div>
    <div class="form-group">
        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" ng-model="search.checks.birthdate">
            <label class="form-control-label">
                Valeurs absentes
            </label>
        </div>
        <label class="form-control-label">Date de naissance</label>
        <angucomplete id="app-home-form-birthdate"
                      placeholder=""
                      pause="100"
                      selectedobject="search.form.birthdate"
                      localdata="search.values.birthdate"
                      searchfields="name"
                      titlefield="name"
                      minlength="1"
                      inputclass="form-control form-control-sm"/>
    </div>
    <div class="form-group">
        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" ng-model="search.checks.sexe">
            <label class="form-control-label">
                Valeurs absentes
            </label>
        </div>
        <label class="form-control-label">Sexe</label>
        <angucomplete id="app-home-form-sexe"
                      placeholder=""
                      pause="100"
                      selectedobject="search.form.sexe"
                      localdata="search.values.sexe"
                      searchfields="sexe"
                      titlefield="name"
                      minlength="1"
                      inputclass="form-control form-control-sm"/>
    </div>
</form>
<div class="text-right mb-3"><a ui-sref="transcript.app.search" class="btn btn-sm btn-primary">Plus de critères</a></div>
