<section id="search">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="card-header bg-dark">Rechercher</h2>
            <div data-ng-include="'/hackathon-an/leonore-front/app/App/Home/tpl/home-search-form.html'"></div>
        </div>
        <div class="col-lg-8 pr-lg-0" data-ng-include="'/hackathon-an/leonore-front/app/App/Home/tpl/home-search-results.html'"></div>
    </div>
</section>