<div id="search-results" class="row">
    <div class="col" data-ng-if="results.length == 0">
        <div class="card alert-warning">
            <div class="card-body">
                <h4 class="card-title">Aucun résultat retourné</h4>
                <p>Aucun résultat ne correspond à votre recherche. Modifiez les paramètres de recherche pour accéder à de nouveaux résultats.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12" data-ng-if="results.length > 0" data-ng-include="'/hackathon-an/leonore-front/app/App/Home/tpl/home-search-results-content-table.html'"></div>
</div>