<div class="mt-3">
    <div class="card bg-body">
        <h3 class="card-header bg-light"><i class="fa fa-folder-open" aria-hidden="true"></i> Elements du dossier</h3>
        <div class="card-body">
            <div class="alert alert-danger" ng-if="entity.video.length == 0">
                Oups ... Cette entité ne possède pas de ressource à transcrire
            </div>
            <ul class="listPages list-unstyled row no-gutters justify-content-center text-center" ng-if="entity.isShown !== false">
                <li class="col-lg-2 col-md-3 col-sm-4 col-6 pb-5" ng-repeat="image in entity.images">
                    <a ui-sref="transcript.app.contribute({ id1: entity.id1, id2: entity.id2, id3: entity.id3, image: image })">
                        <!--<img class="img-fluid" src="{{ iiif.server }}/testament_{{ entity.will.hostingOrganization.code }}_{{ entity.willNumber | willNumberFormat }}{{ iiif.separator }}JPEG{{ iiif.separator }}{{ resource.images[0] }}{{ iiif.extension }}.jpg/full/!150,150/0/default.jpg" onerror="if (this.src != '/hackathon-an/leonore-front/app/web/images/no-images.png') this.src = '/hackathon-an/leonore-front/app/web/images/no-images.png';" />-->
                        <img class="img-fluid" check-image ng-src="/hackathon-an/leonore-front/app/web/images/data/{{image}}" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>