<div class="col-lg-12 col-12 p-4">
    <div class="row">
        <div class="col-lg-6 col-6">
            <div class="card bg-none">
                <h2 class="card-header bg-dark">Légionnaire</h2>
                <div class="card-body">
                    <dl class="row pr-3 ml-1">
                        <dt class="col-sm-4">Prénom :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.prenom }}</dd>

                        <dt class="col-sm-4">Nom :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.nom }}</dd>

                        <dt class="col-sm-4">Nom alternatif :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.nom2 }}</dd>

                        <dt class="col-sm-4">Surnom :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.surnom }}</dd>

                        <dt class="col-sm-4">Nom de jeune fille :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.nomJeuneFille }}</dd>

                        <dt class="col-sm-4">Nom de l'époux :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.nomMari }}</dd>

                        <dt class="col-sm-4">Prénom de l'époux :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.prenomMari }}</dd>

                        <dt class="col-sm-4">Sexe :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.sexe }}</dd>

                        <dt class="col-sm-4">Situation familiale :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.situationFamiliale }}</dd>

                        <dt class="col-sm-4">Date de naissance :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.birthdate }}</dd>

                        <dt class="col-sm-4">Date de naissance selon le calendrier révolutionnaire :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.dateRev }}</dd>

                        <dt class="col-sm-4">Lieu de naissance :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.birthplace }}</dd>

                        <dt class="col-sm-4">Code interne :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.code }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-6">
            <div class="card bg-none">
                <h2 class="card-header bg-dark">Dossier</h2>
                <div class="card-body">
                    <dl class="row pr-3 ml-1">
                        <dt class="col-sm-4">Cote :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.cote }}</dd>

                        <dt class="col-sm-4">Dossier :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.dossier }}</dd>

                        <dt class="col-sm-4">Référence Mistral :</dt>
                        <dd class="col-sm-8 mb-2 mb-sm-0">{{ entity.refMistral }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-none" ng-if="entity.notes !== null && entity.notes !== ''">
        <h2 class="card-header bg-dark">Notes</h2>
        <div class="card-body">
            {{ entity.notes }}
        </div>
    </div>

</div>