<div class="card m-0">
    <div class="card-body p-1" style="border:solid 1px #CCC; border-radius: 2px;">
        Valeur enrichie de : Capitaine <br/>
        URI de l'enrichissement : <a href="http://data.archives-nationales.culture.gouv.fr/occupationType/FRAN_RI_010-d699msjpuqr-66gt6kmedjiv"><img src="/hackathon-an/leonore-front/app/web/images/datagouv.png" style="max-width: 60px;"/></a><br />
        Element Wikidata : <a href="#" target="_blank"><img src="/hackathon-an/leonore-front/app/web/images/wikidata.png" style="max-height: 15px;" /></a>
        <hr class="m-1"/>
        Indexé par : Karl Pineau<br />
        Validé par : 23 votes (21 OUI ; 2 NON)<br />
        91,3% de OUI <i class="fa fa-arrow-right"></i> <span class="text-success">Validé</span>
        <hr class="m-1"/>
        Image découpée : <img src="/hackathon-an/leonore-front/app/web/images/crop.png" style="max-width: 60px;" /><br />
        Coordonnées : x: 390, x2: 560, y: 402, y2: 462
    </div>
</div>