<div class="container">
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>

<main class="container" role="main">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div ng-include="'/hackathon-an/leonore-front/app/App/Home/tpl/home-search.html'"></div>
        </div>
    </div>
</main>